_source/data/2017-03-07-blinddates_allanswers.csv
_source/data/2017-03-19-facesofr_users.csv
_source/data/2017-03-19-facesofr_users_images/
_source/twitter.R
_source/data/p1sommar.csv
_source/data/p1_wiki_data.csv
_source/data/artists_info.csv
_source/data/tracks.csv
_source/data/pr
_source/data/enriched_artists_info.csv 
_source/data/2017-11-16_wheretoliveus_airports.csv 
_source/data/2017-11-16_wheretoliveus_winter_weather.RData
_source/data/2017-11-16_wheretoliveus_summer_weather.RData
_source/data/2017-06-03-twitter/
_source/data/2018-01-01-sortinghat-houses.csv
_source/data/2018-01-01-sortinghat-users.csv
_source/data/2018-01-01-sortinghat-scores.csv
_source/data/2017-12-03-badderb_badass.csv
_source/data/2017-12-15-all_ozcurrences.csv
lala.RData
.httr-oauth
.Rhistory
.RData
# Ignore docs files
_gh_pages
_site
.ruby-version

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
.Rproj.user
