<script src="{{ "/htmlwidgets_deps/htmlwidgets-1.0/htmlwidgets.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/htmlwidgets_deps/jquery-1.12.4/jquery.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/datatables-css-0.0.0/datatables-crosstalk.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/datatables-binding-0.4/datatables.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/dt-core-1.10.16/css/jquery.dataTables.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
<link href="{{ "/htmlwidgets_deps/dt-core-1.10.16/css/jquery.dataTables.extra.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/dt-core-1.10.16/js/jquery.dataTables.min.js" | prepend: site.baseurl }}"></script>
<link href="{{ "/htmlwidgets_deps/crosstalk-1.0.0/css/crosstalk.css" | prepend: site.baseurl }}" rel="stylesheet" />
<script src="{{ "/htmlwidgets_deps/crosstalk-1.0.0/js/crosstalk.min.js" | prepend: site.baseurl }}"></script>
